<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">

  <Identity Name="35e33bd7-4d4b-4ca7-8a67-a2f144f5fed1"
            Publisher="CN=晖"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>Tomato.Media.Test.Windows</DisplayName>
    <PublisherDisplayName>晖</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Tomato.Media.Test.Windows.App">
      <m2:VisualElements
          DisplayName="Tomato.Media.Test.Windows"
          Square150x150Logo="Assets\Logo.png"
          Square30x30Logo="Assets\SmallLogo.png"
          Description="Tomato.Media.Test.Windows"
          ForegroundText="light"
          BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>Tomato.Media.Core.dll</Path>
        <ActivatableClass ActivatableClassId="Tomato.Media.LibAVMFTransform" ThreadingModel="both"/>
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>